<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name=".CessBombActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".CessBombGameActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".CessBombResultActivity"
            android:exported="false">
        </activity>

    </application>

</manifest>